<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon"/>
   {% block css %}
    <link rel="stylesheet" href="/css/main.css">
   {% endblock %}

  <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
<div class="wrapper w-100 position-relative">
  <div class="absolute-static-header" style="background:url('/assets/staticHeader.png') no-repeat;background-size:cover">
      <!-- Startdbs nav -->
      {% include '../components/navbarComponent.njk' %}
       <!-- Endbs nav -->
  </div>

  <div class="content-in-wrapper w-100">
    <div class="container layout-initial">{% block contenttitle %} <h1 class="text-white">About Us</h1> {% endblock %}</div>
    <div class="container bg-white p-5 real-content-in-wrapper">
      {% block content %}{% endblock %}
    </div>
      {% block secondarycontent %}{% endblock %}
  </div>

</div>

<!-- footer -->
{% include "../components/footerComponent.njk" %}


    {% block scripts %}
      <script src="{{config.publicPath}}js/main.js"></script>
    {% endblock %}
  </body>
</html>
