<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon"/>
   {% block css %}
    <link rel="stylesheet" href="/css/main.css">
   {% endblock %}

  <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
<div class="wrapper bg-white w-100 position-relative">
  <div class="absolute-static-header2" style="background:url('/assets/staticHeader.png') no-repeat;background-size:cover">
      <!-- Startdbs nav -->
      <!-- <div class="navbar-on-hidden"></div> -->
      {% include '../components/navbarComponent.njk' %}
       <!-- Endbs nav -->
       <div class="container layout-initial">
         <div class="row">{% block contenttitle %} <h1 class="text-white">About Us</h1> {% endblock %}</div>
         <div class="row pt-3 pb-4">
     <!-- item -->
            <div class="col-12 col-md-6 col-lg-4 contacts-spaces">
              <div class="p-0 position-relative w-100 h-100" >
                <div class="position-absolute w-100 h-100" style='top:0px;left:0px;background: #000;opacity:0.6;z-index:0'></div>
                <div class="w-100 h-100 d-flex align-items-start flex-column justify-content-start position-relative pl-3" style="z-index:1">
                  <img class="mt-5 contact-icon" src="/assets/contacts/icon1.png" alt="">
                  <h3 class="text-light mt-4">Nadejda Russo,14,st floor,office 2 Chisinau, MD-2024,Republic of Moldova</h3>

                </div>
              </div>
            </div>
     <!-- item -->
         <div class="col-12 col-md-6 col-lg-4 contacts-spaces ct1">
           <div class="p-0 position-relative w-100 h-100" >
             <div class="position-absolute w-100 h-100" style='top:0px;left:0px;background: #000;opacity:0.6;z-index:0'></div>
             <div class="w-100 h-100 d-flex align-items-start flex-column justify-content-start position-relative pl-3" style="z-index:1">
               <img class="mt-5 contact-icon" src="/assets/contacts/icon2.png" alt="">
               <a href="mailto:example@mail.ru" class="a"><h2 class="text-light contacts-sm" style="margin:40px 0px">info@mod.md</h2></a>

             </div>
           </div>
         </div>
         <!-- item -->
          <div class="col-12 col-lg-4 contacts-spaces ct2">
            <div class="p-0 position-relative w-100 h-100" >
              <div class="position-absolute w-100 h-100" style='top:0px;left:0px;background: #000;opacity:0.6;z-index:0'></div>
              <div class="w-100 h-100 d-flex align-items-start flex-column justify-content-start position-relative pl-3" style="z-index:1">
                <img class="mt-5 contact-icon" src="/assets/contacts/icon3.png" alt="">
                <a href="tel:37322999501" class="a"><h2 class="text-light mt-4 contacts-sm">+373 22 999 501</h2></a>
                <!-- <a href="tel:37322999501"><button class="btn btn-danger p-3 pl-4 pr-4 mt-4 rounded-0 mb-4">Get in touch</button></a> -->
              </div>
            </div>
          </div>
         <!-- item -->
         </div>
       </div>
  </div>

  <div class="content-in-wrapper2  bg-white mt-5 w-100">
      {% block secondarycontent %}{% endblock %}
  </div>

</div>

<!-- footer -->
{% include "../components/footerComponent.njk" %}


    {% block scripts %}
      <script src="{{config.publicPath}}js/main.js"></script>
    {% endblock %}
  </body>
</html>
