<!-- imports -->
{% import "components/aboutUsSection.njk" as about %}

<!-- extends -->
{% extends "layouts/staticLayout.njk" %}


{%block title%}MOD-About{% endblock %}
{%block contenttitle%}<h1 class="text-white text-white pl-4">About Us</h1>{% endblock %}

{%block content%}
<!-- content menu -->
{% set items=[{tabid:'tab1',name:'Our Group',class:'font-weight-bold'},{tabid:'tab2',name:'Missions'},{tabid:'tab3',name:'Team'},{tabid:'tab4',name:'Partners'}] %}

<div class="w-100 my-secondary-menu-slider c-pointer">
   {% for item in items %}
     <span class='content-links {{item.class}}' data-tabid="{{item.tabid}}">{{item.name}}</span>
   {% endfor %}
</div>
<!-- endcontent menu -->

<!-- start abount us -->
  {{ about.aboutUsSection(true) }}
  {% include "components/missionsTab.njk" %}
  {% include "components/teamTab.njk" %}
  {% include "components/partnersTab.njk" %}

{% endblock %}
