<!-- imports -->
{% import "components/contentMenuComponent.njk" as menu %}
<!-- endinports -->

{% extends "layouts/staticLayout.njk" %}


{%block title%}MOD-Areas of expertise{% endblock %}
{%block contenttitle%}
  <h1 class="text-white text-white pl-4">Areas of expertise</h1>
{% endblock %}

{%block content%}
<!-- content menu -->
{{ menu.contentMenu(['Industrial Machinery','Engine and Powergen','Food and Biomedics','Aeronautics']) }}
<!-- endcontent menu -->
<div class="row mt-5">
  <h2>Areas of expertise</h2>
</div>
 <div class="row mt-5">
   <div class="col-12 col-md-6">
     Thanks to the use of the most advanced 3D parametric modeling softwares, MOD Engineering can offer highly customized excellent quality solutions and support them during the entire design process. In particular, for the automotive sector we are able to design mechanical parts of systems and components especially for the working and digging machinery. We have a vast knowledge and expertise in materials such as cast-iron, aluminum, steel and their manufacturing processes such as fusion, turning, forging and welding.
   </div>
   <div class="col-12 col-md-6">
    We develop automation projects through the best technology used of the control system with control and management improvements, simplified maintenance and repair of the worn-out parts, reduction of critical stages during the assembling process, reduction of costs and working hours.
   </div>
   <div class="col-12 col-md-6 mt-4">
    <p class="mb-3">Thanks to our know-how and wide experience acquired from our partner company CPI-ENG, we have developed ability in both mechanical, electrical, automation and hardware fields with a focus on:</p>
    {% set items=['•   Thick and thin sheet metal structures','•   Piping and plants fluid','•   Oil and Gas system	','•   Complete system development'] %}
    {% for item in items %}
    <!-- items -->
     <p class="item-text">{{item}} </p>
    {% endfor %}
   </div>
 </div>


 <!-- slider -->
 <div class="row mt-5 d-none d-md-flex">
   <h3>Galery</h3>
 </div>
 <div class="row mt-2">
    {% include 'components/sliderComponent.njk' %}
 </div>
 <!-- endslider -->
{% endblock %}
