<!-- imports -->
{% import "components/restModalComponent.njk" as modal %}

{% extends "layouts/staticLayout.njk" %}

{%block title%}MOD-Careers{% endblock %}
{%block contenttitle%}<h1 class="text-white text-white pl-4">Careers</h1>{% endblock %}

{%block content%}

<!-- start team -->
<div class="row"><h2>Work with us</h2></div>
<div class="row mt-4">
  <h3>
    Professional and ambitious people, willing to advance in their career path and to grow with us are always welcome in our team.Check out all the available vacancies In this page and if you think to be the right person, go ahead and apply!
  </h3>
</div>

<div class="row mt-4">
{% set careers=[1,2,3,4,5,6,7,8,9] %}
{% for career in careers %}
<div class="col-12 carers-item p-0 d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between">
   <div>
     <h3>Junior Mechanical Engineer</h3>
     <p class="p-0 m-o">MOD  Engineering  expands  its  activity  and  invites  you  to  join  itsMechanical Design Engineersteam.</p>
   </div>
     <button data-toggle="modal" data-target="#exampleModalLong{{career}}" class="btn btn-outline-danger">View position</button>
     {{ modal.restModal(career) }}
</div>
{% endfor %}
</div>

<div class="row mt-5">
  <button class="btn btn-danger p-2 pl-5 pr-5 load-btn">Load more</button>
</div>
{% endblock %}

{% block secondarycontent %}
<div class="container p-4">
  <div class="row mt-4">
    <h2>Benefits of working with us</h2>
  </div>
  <div class="row mt-4">
  {% set benefits=[
    {img:'1.png',title:'Be part of a great team',subtitle:'Our team constantly receives from senior experts new training.'},
    {img:'2.png',title:'Be part of a great team',subtitle:'Our team constantly receives from senior experts new training.'},
    {img:'3.png',title:'Be part of a great team',subtitle:'Our team constantly receives from senior experts new training.'},
    {img:'4.png',title:'Be part of a great team',subtitle:'Our team constantly receives from senior experts new training.'},
    {img:'5.png',title:'Be part of a great team',subtitle:'Our team constantly receives from senior experts new training.'},
    {img:'6.png',title:'Be part of a great team',subtitle:'Our team constantly receives from senior experts new training.'}
   ] %}

   {% for benefit in benefits %}
   <div class="mt-3 col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-start justify-content-between">
     <img src="/assets/benefits/{{ benefit.img }}" alt="">
     <div class="mt-4">
       <h3>{{ benefit.title }}</h3>
       <p>{{ benefit.subtitle }}</p>
     </div>
   </div>
   {% endfor %}
  </div>
</div>
{% endblock %}
