{% extends "layouts/staticLayout2.njk" %}


{%block title%}MOD-Contacts{% endblock %}
{%block contenttitle%}
  <h1 class="text-white pl-4 pl-sm-0">Contacts Us</h1>
{% endblock %}


{%block secondarycontent%}
  <div class="container">
    <div class="row">
      <h2 class="w-100 text-center">Get in touch</h2>
    </div>
    <form action="" method="POST" class="form-contact">
      <div class="row">
        <div class="col-12 col-md-6 contact-input d-flex flex-column align-items-start">
              <p class="font-weight-bold h5 text-input">Your Name</p>
              <input name='text' type="text" class="w-100"/>
              <span class="error-message">Данное поле заполнено неправильино.</span>
            </div>
            <div class="col-12 col-md-6 contact-input d-flex flex-column align-items-start">
              <p class="font-weight-bold h5 text-input">Phone</p>
              <input name='text' type="text" class="w-100"/>
              <span class="error-message">Данное поле заполнено неправильино.</span>
            </div>
            <div class="col-12 col-md-6 contact-input d-flex flex-column align-items-start">
              <p class="font-weight-bold h5 text-input">E-mail</p>
              <input name='email' type="text" class="w-100" />
              <span class="error-message">Данное поле заполнено неправильино.</span>
            </div>
            <div class="col-12 col-md-6 contact-input d-flex flex-column align-items-start">
              <p class="font-weight-bold h5 text-input">Company</p>
              <input name='company' type="text" class="w-100"/>
              <span class="error-message">Данное поле заполнено неправильино.</span>
            </div>
            <div class="col-12 contact-input d-flex flex-column align-items-start">
              <p class="font-weight-bold h5 text-input">Message</p>
              <textarea class="w-100 bg-white" name="message" ></textarea>
            </div>
            <div class="col-12 mt-5">
              <button name='submit' type='submit' class="rounded-0 btn btn-danger p-2 pl-5 pr-5">Send</button>
          </div>

      </div>
    </form>

    <!-- Success Modal -->
    <div class="modal fade" id="contact-modal-success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0 position-relative p-5">
          <img src="/assets/close.png" class="position-absolute c-pointer" style="right:20px;top:20px" alt="" data-dismiss="modal" aria-label="Close">
          <h2>Your message was send</h2>
          <h3>We will contact you by e-mail or phone call.</h3>
        </div>
      </div>
    </div>
  <!-- end Success modal -->
  <!-- Error Modal -->
    <div class="modal fade" id="contact-modal-error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0 position-relative p-5">
          <img src="/assets/close.png" class="position-absolute c-pointer" style="right:20px;top:20px" alt="" data-dismiss="modal" aria-label="Close">
          <h2>Error</h2>
          <h3>Something went wrong. Please try later.</h3>
        </div>
      </div>
    </div>
  <!-- end Error modal -->
  </div>
{% endblock %}
