{% extends "layouts/staticLayout.njk" %}


{%block title%}MOD-News-Digitalization{% endblock %}
{%block contenttitle%}
  <h1 class="text-white text-white pl-4">Digitalization</h1>
{% endblock %}

{%block content%}
{% set items=['•   Advanced manufacturing solutions','•   Additive manufacturing','•   Augmented reality','•   Simulation','•   Horizontal / vertical integration'] %}
<div class="row mt-5">
  <div class="col-12 col-md-6">
    <p>The next industrial generation—Industry 4.0 or simply put Digitalization—brings increased flexibility in manufacturing, along with mass customization, better quality and improved productivity. Therefore, it enables companies to cope with the challenges of producing increasingly individualized products in a short time and higher quality. Intelligent manufacturing plays an important role in Digitalization. Typical resources are converted into intelligent objects, so they are able to sense, act and behave within a smart environment.</p>

    {% for item in items %}
    <!-- items -->
    <p class="item-text p-0 m-0">{{item}}</p>
    {% endfor %}
  </div>
  <div class="col-12 col-md-6">
    <p>The next industrial generation—Industry 4.0 or simply put Digitalization—brings increased flexibility in manufacturing, along with mass customization, better quality and improved productivity. Therefore, it enables companies to cope with the challenges of producing increasingly individualized products in a short time and higher quality. Intelligent manufacturing plays an important role in Digitalization. Typical resources are converted into intelligent objects, so they are able to sense, act and behave within a smart environment. </p>


  {% for item in items %}
  <!-- items -->
   <p class="item-text p-0 m-0">{{item}}</p>
  {% endfor %}
  </div>
</div>
{% endblock %}
