<!-- imports -->
{% import "components/aboutUsSection.njk" as about %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/main.css">
    <title>MOD</title>
  </head>
  <body>
<!-- start header -->
  <div class="header">
    <!-- video -->
    <div style="width: 100%; height: 100vh;"
      class="header-video" data-vide-bg="jpg:/assets/hero-video/Fade-To-Black.jpg,mp4: /assets/hero-video/Fade-To-Black.mp4, webm: /assets/hero-video/Fade-To-Black.webm, ogv: /assets/hero-video/Fade-To-Black.ogv, poster: /assets/hero-video/Fade-To-Black.jpg" data-vide-options="loop: true,posterType: 'jpg',resizing: true, muted: false, position: 50% 50%">
    </div>
  <!-- video -->
     <div class="absolute-header">
       <div class="relative-header">
           <!-- gradient-->
           <div class="header-gradient overflow-hidden">
             <img src="/assets/pattern_L.png" alt="" class="bg-pattern d-none d-md-block">
             <img src="/assets/pattern_R.png" alt="" class="bg-pattern bg-pattern-right d-none d-md-block">
           </div>
             <!-- gradient-->
            <!-- Startdbs nav -->
            <div class="navbar-on-hidden"></div>
            {% include "components/navbarComponent.njk" %}
            <!-- Endbs nav -->

            <!-- header content -->
            <div class="header-citat d-flex flex-column align-items-center justify-content-end">
              <div class="h-75 d-flex flex-column justify-content-between">
                <h1 class="text-center">Bureau of engineering technology</h1>

                <div class="d-flex flex-column align-items-center scroll-btn c-pointer">
                  <img src="/assets/scroll_down.png" alt="" class="mb-3 wow wobble" data-wow-offset="100">
                  <p class="text-light scroll-text">SCROLL DOWN</p>
                </div>
              </div>
            </div>
            <!-- header content -->
       </div>
     </div>
  </div>
  <!-- End all header content -->

  <!-- start abount us -->
<div class="w-100 my-5 " id="about-section">
  <div class="container">
    {{ about.aboutUsSection(false) }}
  </div>
</div>
<!-- end abount us -->

<!-- start services -->
<div class="w-100 services-container">
  <!-- gradient-->
  <div class="services-gradient">
    <img src="/assets/pattern_L.png" alt="" class="bg-pattern">
    <img src="/assets/pattern_R.png" alt="" class="bg-pattern bg-pattern-right">
  </div>
    <!-- gradient-->
    <div class="services-content container mt-5">
      <h1>Our services</h1>
<!-- itemleft -->
      <div class="row mb-5 wow fadeInUp" data-wow-offset="100">
        <div class="col-lg-6 pr-3 pr-md-0">

            <div class="position-relative c-pointer service-img">
               <a href="" class="position-relative h-100 w-100">
                 <img src="/assets/service1.png" class="w-100" alt="">
               </a>
               <div class="service-mask-nr position-absolute d-flex flex-colum justify-content-end align-items-center">#1</div>
               <div class="service-mask position-absolute"></div>
            </div>

        </div>
        <div class="col-lg-6">
          <div class="d-flex h-100 mt-4 mt-lg-0 flex-column align-items-start justify-content-center">
            <a href="" class="a"><h2>Project Management</h2></a>
            <p>A full-scale service to help manufacturers in planning, executing, monitoring and finalizing large-scale engineering projects.</p>
            <a href="/services.html" class='d-none d-lg-flex a'><buttton class="btn btn-outline-danger mt-5 rounded-0">View service</buttton></a>
          </div>
        </div>
      </div>
  <!-- item -->
  <!-- itemright -->
        <div class="row mb-5 flex-column-reverse flex-md-column-reverse flex-lg-row  wow fadeInUp" data-wow-offset="100">

          <div class="col-lg-6">
            <div class="d-flex h-100 mt-4 mt-lg-0  flex-column align-items-start justify-content-center">
              <a href="" class="a"><h2>Analisys and R&D</h2></a>
              <p>R&D, feasibility study and FEM/CFD analysis, structural analysis and optimization.</p>
              <a href="/services.html" class='d-none d-md-flex a'><buttton class="btn btn-outline-danger mt-5 rounded-0">View service</buttton></a>
            </div>
          </div>
          <div class="col-lg-6 pr-3 pr-md-0">

            <div class="position-relative c-pointer service-img">
               <a href="" class="position-relative h-100 w-100">
                 <img src="/assets/service2.png" class="w-100" alt="">
               </a>
               <div class="service-mask-nr position-absolute d-flex flex-colum justify-content-start align-items-center">#2</div>
               <div class="service-mask position-absolute"></div>
            </div>

          </div>
        </div>
    <!-- item -->
<!-- itemleft -->
      <div class="row mb-5  wow fadeInUp" data-wow-offset="100">
        <div class="col-lg-6 pr-3 pr-md-0">

          <div class="position-relative c-pointer service-img">
             <a href="" class="position-relative h-100 w-100">
               <img src="/assets/service3.png" class="w-100" alt="">
             </a>
             <div class="service-mask-nr position-absolute d-flex flex-colum justify-content-end align-items-center">#3</div>
             <div class="service-mask position-absolute"></div>
          </div>

        </div>
        <div class="col-lg-6">
          <div class="d-flex h-100 mt-4 mt-lg-0  flex-column align-items-start justify-content-center">
            <a href="" class="a"><h2>Engineering and Design</h2></a>
            <p>Study, development and design of mechanical parts and automation systems.</p>
            <a href="/services.html" class='d-none d-md-flex a'><buttton class="btn btn-outline-danger mt-5 rounded-0">View service</buttton></a>
          </div>
        </div>
      </div>
  <!-- item -->
  <!-- itemright -->
        <div class="row mb-5 flex-column-reverse flex-md-column-reverse flex-lg-row wow fadeInUp" data-wow-offset="100">

          <div class="col-lg-6">
            <div class="d-flex h-100 mt-4 mt-lg-0  flex-column align-items-start justify-content-center">
              <a href="" class="a"><h2>Softare Development</h2></a>
              <p>Customization of technical-scientific software tools.</p>
              <a href="/services.html" class='d-none d-md-flex a'><buttton class="btn btn-outline-danger mt-5 rounded-0">View service</buttton></a>
            </div>
          </div>
          <div class="col-lg-6 pr-3 pr-md-0">

            <div class="position-relative c-pointer service-img">
               <a href="" class="position-relative h-100 w-100">
                 <img src="/assets/service4.png" class="w-100" alt="">
               </a>
               <div class="service-mask-nr position-absolute d-flex flex-colum justify-content-start align-items-center">#4</div>
               <div class="service-mask position-absolute"></div>
            </div>

          </div>
        </div>
    <!-- item -->
    <!-- itemleft -->
          <div class="row mb-5 wow fadeInUp" data-wow-offset="100">
            <div class="col-lg-6 pr-3 pr-md-0">

              <div class="position-relative c-pointer service-img">
                 <a href="" class="position-relative h-100 w-100">
                   <img src="/assets/service5.png" class="w-100" alt="">
                 </a>
                 <div class="service-mask-nr position-absolute d-flex flex-colum justify-content-end align-items-center">#5</div>
                 <div class="service-mask position-absolute"></div>
              </div>

            </div>
            <div class="col-lg-6">
              <div class="d-flex h-100 mt-4 mt-lg-0  flex-column align-items-start justify-content-center">
                <a href="" class="a"><h2>Technical Documentations
and Certifications</h2></a>
                <p>Technical manuals. ISO and GOST Standard certification services.</p>
                <a href="/services.html" class='d-none d-md-flex a'><buttton class="btn btn-outline-danger mt-5 rounded-0">View service</buttton></a>
              </div>
            </div>
          </div>
      <!-- item -->
      <!-- itemright -->
            <div class="row mb-5 flex-column-reverse flex-md-column-reverse flex-lg-row wow fadeInUp" data-wow-offset="100">

              <div class="col-lg-6">
                <div class="d-flex h-100 mt-4 mt-lg-0  flex-column align-items-start justify-content-center">
                  <a href="" class="a"><h2>Reverse engineering</h2></a>
                  <p>Conversion of existing products in 3D CAD models,
migration of the archives in 3D CAD.</p>
                  <a href="/services.html" class='d-none d-md-flex a'><buttton class="btn btn-outline-danger mt-5 rounded-0">View service</buttton></a>
                </div>
              </div>
              <div class="col-lg-6 pr-3 pr-md-0">

                <div class="position-relative c-pointer service-img">
                   <a href="" class="position-relative h-100 w-100">
                     <img src="/assets/service6.png" class="w-100" alt="">
                   </a>
                   <div class="service-mask-nr position-absolute d-flex flex-colum justify-content-start align-items-center">#6</div>
                   <div class="service-mask position-absolute"></div>
                </div>

              </div>
            </div>
        <!-- item -->
  <!-- itemleft -->
        <div class="row mb-5 wow fadeInUp" data-wow-offset="100">
          <div class="col-lg-6 pr-3 pr-md-0">

            <div class="position-relative c-pointer service-img">
               <a href="" class="position-relative h-100 w-100">
                 <img src="/assets/service7.png" class="w-100" alt="">
               </a>
               <div class="service-mask-nr position-absolute d-flex flex-colum justify-content-end align-items-center">#7</div>
               <div class="service-mask position-absolute"></div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="d-flex h-100 mt-4 mt-lg-0  flex-column align-items-start justify-content-center">
              <a href="" class="a"><h2>Outsourcing</h2></a>
              <p>External consultancy for mechanical design.</p>
              <a href="/services.html" class='d-none d-md-flex a'><buttton class="btn btn-outline-danger mt-5 rounded-0">View service</buttton></a>
            </div>
          </div>
        </div>
    <!-- item -->

    </div>

</div>
<!-- end services -->

<!-- start clients -->
<div class="w-100 pb-5 mb-5 pt-5">

  <div class="container">
    <h1 class="text-center text-md-left">Our clients</h1>

    <div class="row align-items-center">
      <div class="col-12 col-md-2 col-sm-4 justify-content-center d-flex">
        <img class="d-block m-5" src="/assets/clients/1.png" alt="First slide" style='max-width:200px'>
      </div>
      <div class="col-12 col-md-2 col-sm-4 justify-content-center d-flex">
        <img class="d-block m-5" src="/assets/clients/2.png" alt="First slide" style='max-width:200px'>
      </div>
      <div class="col-12 col-md-2 col-sm-4 justify-content-center d-flex">
        <img class="d-block m-5" src="/assets/clients/3.png" alt="First slide" style='max-width:200px'>
      </div>
      <div class="col-12 col-md-2 col-sm-4 justify-content-center d-flex">
        <img class="d-block m-5" src="/assets/clients/4.png" alt="First slide" style='max-width:200px'>
      </div>
      <div class="col-12 col-md-2 col-sm-4 justify-content-center d-flex">
        <img class="d-block m-5" src="/assets/clients/5.png" alt="First slide" style='max-width:200px'>
      </div>
      <div class="col-12 col-md-2 col-sm-4 justify-content-center d-flex">
        <img class="d-block m-5" src="/assets/clients/6.png" alt="First slide" style='max-width:200px'>
      </div>
    </div>

  </div>

</div>
<!-- end clients -->

<!-- areas of expertises -->
<div class="w-100 expertises-container pt-2 pb-5 overflow-hidden">
    <div class="container overflow-hidden pr-md-0 p-md-0">
      <h1 class="block-title">Areas of expertise</h1>
{% set areas=[1,2,3,4] %}
    <div class="w-100 my-areas-slider  overflow-hidden">
{% for area in areas %}
        <div class=" p-0" data-wow-offset='100'>
             <div class=" pr-1 position-relative">
                <div class="areas-img-container position-relative">
                   <a href="" class="a text-white">
                     <img src="/assets/expertises/{{area}}.png" alt="" class=" areas-img h-100 w-100">
                   </a>
                   <div class="areas-mask p-3">
                     <img src="/assets/areas-patern.png" alt="">
                   </div>
                </div>

                 <div class="expertise-text c-pointer areas-text">
                   <h2 class="text-white">Industrial <br> Machinery</h2>
                    <a href="" class="a text-white">
                       <div class="expertise-btn align-items-center justify-content-center flex-row pt-2 pb-2 position-relative">
                         <span class="bg-white areas-btn-text-bg position-absolute w-100 h-100"></span>
                         <small class="pl-2 areas-btn-text" style="z-index:1">Learn more</small>
                         <img src="/assets/arrow_white_right.png" class="pl-2" alt="" style="z-index:1">
                       </div>
                    </a>
                 </div>

             </div>
        </div>
{% endfor %}
      </div>
    </div>
</div>
<!-- end areas of expertises -->

<!-- news container -->
<div class="w-100 pt-5 pb-5">
  <div class="container">

    <div class="d-flex flex-row align-items-center">
      <h1 class="m-0">News</h1>
      <a href="/news.html"><button class="mb-0 ml-4 btn btn-outline-danger rounded-0">Go to newslist</button></a>
    </div>

    <div class="row mt-4">
      <!-- main item -->
        <div class="col-12 col-lg-5 p-0 h-100">

            <div class="position-relative p-2 p-md-0">
              <a href="">
                <img class="big-news-img" src="/assets/news/1.png" alt="" style="width:100%;">
              </a>
              <div class="main-news-text">
                <p class="m-0 pb-2">1 aug 2018</p>
                <a href="" class="a">
                  <h2>We are hiring</h2>
                </a>
              </div>
           </div>

        </div>
        <!-- secondary items -->
        <div class="col-12 col-lg-7 mt-1 p-0  mt-md-1 mt-lg-0 d-flex flex-column flex-md-row flex-lg-column">

          <div class="p-2 p-md-0 pb-1 pl-lg-1 d-flex flex-column flex-lg-row align-items-start">
            <a href="/newsDetailed.html" class="w-100">
              <img class="mini-news-img" src="/assets/news/2.png" alt="" style="width:100%;">
            </a>
            <div class="secondary-news-text mt-sm-2 mt-md-0 d-flex flex-column justify-content-center text-left pl-3">
              <p class="mt-2 mt-lg-0">24 july 2018<p>
              <a href="/newsDetailed.html" class="red-on-hover word-break">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, consequatur!</a>
            </div>
          </div>

          <div class="p-2 p-md-0 pl-md-1 pt-lg-1 d-flex flex-column flex-lg-row align-items-start">
            <a href="/newsDetailed.html" class="w-100">
              <img class="mini-news-img" src="/assets/news/2.png" alt="" style="width:100%;">
            </a>
            <div class="secondary-news-text mt-sm-2 mt-md-0 d-flex flex-column justify-content-center text-left pl-3">
              <p class="mt-2 mt-lg-0">24 july 2018<p>
              <a href="/newsDetailed.html" class="red-on-hover word-break">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, consequatur!</a>
            </div>
          </div>

        </div><!-- end secondary items -->

      </div><!-- row -->

  </div>
</div>
<!-- end news container -->
<div class="w-100 pt-5 pb-5 contacts-bg">
  <div class="container">
    <div class="row">
<!-- item -->
      <div class="col-12 col-md-6 col-lg-4 contacts-spaces">
        <div class="p-0 position-relative w-100 h-100" >
          <div class="position-absolute w-100 h-100" style='top:0px;left:0px;background: #000;opacity:0.6;z-index:0'></div>
          <div class="w-100 h-100 d-flex align-items-start flex-column justify-content-start position-relative pl-3" style="z-index:1">
            <img class="mt-5 contact-icon" src="/assets/contacts/icon1.png" alt="">
            <h3 class="text-light mt-4">Nadejda Russo,14,st floor,office 2 Chisinau, MD-2024,Republic of Moldova</h3>

          </div>
        </div>
      </div>
<!-- item -->
    <div class="col-12 col-md-6 col-lg-4 contacts-spaces">
      <div class="p-0 position-relative w-100 h-100" >
        <div class="position-absolute w-100 h-100" style='top:0px;left:0px;background: #000;opacity:0.6;z-index:0'></div>
        <div class="w-100 h-100 d-flex align-items-start flex-column justify-content-start position-relative pl-3" style="z-index:1">
          <img class="mt-5 contact-icon" src="/assets/contacts/icon2.png" alt="">
          <a href="mailto:example@mail.ru" class="a"><h2 class="text-light contacts-sm" style="margin:40px 0px">info@mod.md</h2></a>

        </div>
      </div>
    </div>
    <!-- item -->
    <div class="col-12 col-lg-4 contacts-spaces">
      <div class="p-0 position-relative w-100 h-100" >
        <div class="position-absolute w-100 h-100" style='top:0px;left:0px;background: #000;opacity:0.6;z-index:0'></div>
        <div class="w-100 h-100 d-flex align-items-start flex-column justify-content-start position-relative pl-3" style="z-index:1">
          <img class="mt-5 contact-icon" src="/assets/contacts/icon3.png" alt="">
          <a href="tel:37322999501" class="a"><h2 class="text-light mt-4 contacts-sm">+373 22 999 501</h2></a>
          <a href="tel:37322999501"><button class="btn btn-danger p-3 pl-4 pr-4 get-in-btn mb-4">Get in touch</button></a>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<!-- start section footer -->
{% include 'components/footerComponent.njk' %}
<!-- end footer -->
    <script src="{{config.publicPath}}js/main.js"></script>
  </body>
</html>
