{% extends "layouts/staticLayout.njk" %}


{%block title%}MOD-News{% endblock %}
{%block contenttitle%}
<div class="d-flex justify-content-between align-items-center">
  <h1 class="text-white pl-1">News</h1>

  <div class="btn-group border-0">
    <button type="button" class="news-category-selector border-0 rounded-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Last news
      <img src="/assets/arrow.png" class='ml-5' alt="">
    </button>
    <div class="dropdown-menu dropdown-menu-news border-0 dropdown-menu-center select-lang-item-container">
{% set categoryes=[1,2,3,4,5] %}
      {% for category in categoryes %}
      <a href=""><button class="pt-3 pb-3 news-category-item" type="button">All news</button></a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{%block content%}
<!-- start news -->

  {% set news=[1,2,3,4,5,6,7,8] %}

  <div class="row align-items-center">
    {% for new in news %}
    <div class="col-12 col-md-6 mt-4">
      <div class="d-flex flex-column flex-xl-row align-items-center align-items-sm-start">
        <a href=""><img class="mini-news-img mw-100" src="/assets/news/2.png" alt=""></a>
        <div class="secondary-news-text mt-sm-2 mt-md-0 d-flex flex-column justify-content-center text-left pl-3">
          <p class="mt-2 mt-x-0">24 july 2018<p>
          <a href="/newsDetailed.html" class="red-on-hover word-break news-link">We are hiring  adipisci.!</a>
        </div>
      </div>
    </div>
    {% endfor %}

<div class="row mt-5">
  <div class="col-12"><button class="btn btn-danger load-btn p-2 pl-5 pr-5 ml-3">Load more</button></div>
</div>
<!-- end news -->
{% endblock %}
