{% extends "layouts/staticLayout.njk" %}


{%block title%}MOD-News-Detailed{% endblock %}
{%block contenttitle%}
<div class="d-flex flex-column">
  <b class="text-light">21 july 2018</b>
  <h1 class="text-white">We train future</h1>
</div>
{% endblock %}

{%block content%}
 <div class="row">
   <div class="col-12">
    <a href="/news.html" class="a">
       <img src="/assets/arrowLeft.png" alt="">
       <small class="ml-2" style="color:#aeb5c1">BACK TO NEWS LIST</small>
   </a>
   </div>
 </div>
 <div class="row mt-5">
   <div class="col-12 col-md-6">
     Later this year our team led by CEO Franco Polesello presented internship opportunities to the students of Technical University of Moldova. As a result, two students from the faculty of Mechanical Engineering and transportation- Mihai Garama and Cristian Pasat, were selected to be full time summer interns at MOD Engineering and get practical skills in the field of mechanical engineering.
       <br><br>
     Their motivation in starting the internship was the willingness to apply their knowledge gained from the university in a practical field, learn from professionals with years of experience and see how a mechanical design company operates on a daily basis.
   </div>
   <div class="col-12 col-md-6">
     During their internship Mihai and Cristian had practical experience in 3D and 2D modeling, learned to work with ISO standards, as well as with software tool such as Siemens NX.
      <br><br>
     Our interns plan on using their practical skills in their future studies and solving more complex tasks. Both Mihai and Cristian will share their experience with their classmates and recommend all students to take any given chance to practice in their fields of studies.
   </div>
 </div>
 <div class="row mt-5">
   <h3>If you are a student and would like to become an intern at MOD Engineering, please go to our Careers page or contact us at hr@mod.md</h3>
 </div>

 <!-- slider -->
 <div class="row mt-5 d-none d-md-flex">
   <h3>Galery</h3>
 </div>
 <div class="row mt-2">
   {% include 'components/sliderComponent.njk' %}
 </div>
 <!-- endslider -->
{% endblock %}

{%block secondarycontent%}
<div class="container">
  <div class="row">
    <!-- item -->
    <div class="col-12 col-md-6 mt-5">
     <a href="" class="a">
        <div class="other-news rounded p-4">
          <p style="color:#aeb5c1">Previous news</p>
            <h3>MOD Engineering joins Moldovan Automotive Days</h3>
        </div>
      </a>
    </div>
    <!-- item -->
    <div class="col-12 col-md-6 mt-5">
      <a href="" class="a">
        <div class="other-news rounded p-4">
          <p style="color:#aeb5c1">Next news</p>
          <h3>MOD Engineering joins Moldovan Automotive Days</h3>
        </div>
      </a>
    </div>

  </div>
</div>
{% endblock %}
