<!-- imports -->
{% import "components/contentMenuComponent.njk" as menu %}
{% import "components/fullModalComponent.njk" as modal %}
<!-- endinports -->

{% extends "layouts/staticLayout.njk" %}


{%block title%}MOD-Services detailed{% endblock %}
{%block contenttitle%}<h1 class="text-white pl-3">Services</h1>{% endblock %}

{%block content%}
<!-- content menu -->
{{ menu.contentMenu(['Project management','ANALYSIS AND R&D','SOFTWARE DEVELOPMENT','TECHNICAL DOCUMENTATION & CERTIFICATIONS','REVERSE ENGINERING','OUTSORCING']) }}
<!-- endcontent menu -->

<!-- start abount service -->
<div class="row mt-5">
  <h2>Project management</h2>
</div>
<div class="row mt-3">

  <div class="col-lg-6  col-12">
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of «de Finibus Bonorum et Malorum» (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, «Lorem ipsum dolor sit amet..», comes from a line in section 1.10.32.
    </p>
  </div>
  <div class="col-lg-6 col-12">
    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from «de Finibus Bonorum et Malorum» by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
  </div>
</div>

<!-- slider -->
<div class="row mt-5 d-none d-md-flex">
  <h3>Galery</h3>
</div>
<!-- newslider -->
<div class="row mt-2">
  {% include 'components/sliderComponent.njk' %}
</div>
<!-- end new slider -->

<!-- start cases -->
<div class="row mt-5">
  <h3>Study cases</h3>
</div>
<div class="row">
  {% set items=[1,2,3,4] %}
  {% for item in items %}
    <div class="col-12 col-md-6 p-0">

        <div class="d-flex position-relative p-1 overflow-hidden" data-toggle="modal" data-target="#exampleModalLong{{item}}" style="cursor:pointer">
          <img src="/assets/cases/{{item}}.png " alt="">
          <h2 class="text-white study-case-text">Case Name #{{item}}</h2>
        </div>
        {{ modal.fullModal(item) }}
    </div>
  {% endfor %}
</div>
<!-- end cases -->
{% endblock %}
