<!-- imports -->
{% import "components/contentMenuComponent.njk" as menu %}
<!-- endinports -->

{% extends "layouts/staticLayout.njk" %}


{%block title%}MOD-Team{% endblock %}
{%block contenttitle%}<h1 class="text-white pl-2">Team</h1>{% endblock %}

{%block content%}
<!-- content menu -->
{{ menu.contentMenu(['OUR GROUP','MISSION','TEAM','PARTNERS']) }}
<!-- endcontent menu -->

<!-- start team -->
<div class="row mt-5"><h2>Team</h2></div>
<div class="row mt-5">
  <div class="col-12 col-md-6">
    Our international, versatile engineering services team is made up of 80 experts that can complement your in-house teams and spearhead your projects at all levels.
    <p class="mt-5 items-text">Some of our specialists include:</p>
    {% set items = ['•   Project managers;','•   Mechanical engineers and technicians;','•   Electrical engineers and technicians;','•   Automation engineers and specialists;','•   Industrial designers;','•   Advanced surface modelers;','•   FEA engineers;','•   CFD engineers.']%}
    {% for item in items %}
    <p class="item-text">{{ item }}</p>
    {% endfor %}
  </div>
  <div class="col-12 col-md-6">
    All our employees are supported and coached by senior professionals
on a daily basis. In fact, our entire engineering services team is continuously trained on new technologies and engineering approaches.
  </div>
</div>
<!-- end team -->
<div class="row mt-5 align-content-stretch">
  {% set teams=[1,2,3,4] %}
  {% for team in teams %}
  <div class="col-12 col-sm-6 col-lg-3 p-0">
     <div class="h-100 w-100 p-1 d-flex flex-column align-items-start justify-content-between">
       <img src="/assets/team.png" class="w-100" alt="">

       <h3 class="mt-4 ml-4">Jason Barney</h3>
       <p class="ml-4">Vice president of technology</p>
     </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
