{% macro aboutUsSection(includeFullDetails) %}
  <div class="w-100">
    <div class="row mt-5">
      <div class="col-12">
        <h1 class="p-0 about-us-subtitle m-0 pb-2">About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum exercitationem nam consequatur itaque ad rerum, omnis perspiciatis ipsa voluptatem deleniti iste quasi cum aspernatur, expedita saepe nihil quaerat rem esse odit distinctio! Odit dignissimos atque delectus magnam consectetur error, accusamus dolorum, modi perspiciatis doloribus doloremque fugit, dolore earum numquam mollitia exercitationem hic aliquid a nostrum molestiae. Velit nobis eveniet quo atque sed, earum magni explicabo ipsam necessitatibus? Dolorum repudiandae sunt at neque reiciendis nihil dolore expedita et ab, tempore debitis architecto, eum dolorem beatae ullam labore eligendi saepe. Enim maiores impedit minus autem minima vitae laudantium delectus, ipsum vel iure.</p>
      </div>
    </div>
    <!-- end abount us -->
    <!-- start numbers -->
    <div class="row mt-3">
      <!-- item -->
      <div class="col-lg-4  col-12 p-0 numbers-container">
        <div class="numbers-bg w-100" >
          <div class="d-flex flex-row align-items-center">
            <p class="nr-text font-weight-bold p-0 m-0">20</p>
            <p class="m-0 ml-3 nr-mini-text font-weight-bold">years <br>in business</p>
          </div>
          <p class="mt-0">We are a leading engineering group with years of experience.</p>
        </div>
      </div>
      <!-- item -->
      <div class="col-lg-4  col-12 p-0 numbers-container">
        <div class="numbers-bg w-100" >
          <div class="d-flex flex-row align-items-center">
            <p class="nr-text font-weight-bold p-0 m-0">80</p>
            <p class="m-0 ml-3 nr-mini-text font-weight-bold">lorem<br>ipsum</p>
          </div>
          <p class="mt-0">We are a leading engineering group with years of experience.</p>
        </div>
      </div>
      <!-- item -->
      <div class="col-lg-4  col-12 p-0 numbers-container">
        <div class="numbers-bg w-100" >
          <div class="d-flex flex-row align-items-center">
            <p class="nr-text font-weight-bold p-0 m-0">3,5</p>
            <p class="m-0 ml-3 nr-mini-text font-weight-bold">milion <br>euros</p>
          </div>
          <p class="mt-">We are a leading engineering group with years of experience.</p>
        </div>
      </div>

    </div>
    <!-- end numbers -->
    {% if includeFullDetails  %}
      <div class="row mt-5">
        <div class="col-12 col-md-6">
          The aim of CPI-ENG and MOD Engineering is to become a loyal partner for the companies that intend to develop complex components outside their own structure. We exempt the customer from eventual hassles by taking full care for the project beginning from the first stage, the research and consultancy until the prototype realization. <br><br>Our group boasts a team of 80 engineers who work under the supervision and support of professionals on a daily basis.
        </div>
        <div class="col-12 col-md-6">
          The results of this cooperation have allowed both companies to be highly competitive on economic and qualitative levels, as well as manage customer requests efficiently and quickly, offering a wide range of innovative solutions characterized by high quality standards.
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <h3 class="text-dark">
            Certification
          </h3>
        </div>
        <div class="col-12   col-md-6">
          To ensure that all our activities are completed according to the highest possible standards, we have spent years improving and standardizing our internal processes pursuing ISO 9001:2015 Certification.
        </div>
        <div class="col-12 col-md-6">
          By adopting and committing to this process, our group ensures that we will consistently deliver a high level of quality while providing thorough consideration of innovative and creative concepts for our clients’ project.
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}
