{% macro contentMenu(links) %}
<div class="w-100 my-secondary-menu-slider c-grab">
   {% for link in links %}
       <a href="about.html" class='content-links'>{{link}}</a>
   {% endfor %}
</div>
{% endmacro %}
