<!-- start section footer -->
<div class="footer-section w-100 overflow-hidden pt-5 position-relative">
  <img src="/assets/pattern_R.png" alt="" class="position-absolute foter-bg" style="bottom:0px;right:0px;z-index:0">
  <div class="container position-relative" style="z-index:1">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-3">
        <a href="/"><img src="/assets/logo2.png" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <div class="d-flex align-items-start flex-column">
          <h3 class="font-weight-bold  c-pointer toggle-footer foter-text"><small class="p-1 pl-2 pr-2 mr-2 rounded border border-light d-md-none">+</small>Services</h3>
         <div class="d-none d-md-block menu-to-toggle">
          <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Analysis and R&D</a>
          <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Engineering and Design</a>
          <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Software development</a>
          <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Tehnical Documentations & Certifications</a>
          <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Reverse enginering</a>
          <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Outsorcing</a>
          <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Outsorcing</a>
        </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <div class="d-flex align-items-start flex-column">
          <h3 class="font-weight-bold  c-pointer toggle-footer foter-text"><small class="p-1 pl-2 pr-2 mr-2 rounded border border-light d-md-none">+</small>Areas of expertises</h3>
           <div class="d-none d-md-block menu-to-toggle">
             <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Machinery/Industrial</a>
             <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Engine/Powergen</a>
             <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Food & Biomedical</a>
             <a href="/" class="mb-3 red-on-hover d-block foter-secondary-text">Aeronautical</a>
           </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <h3 class="font-weight-bold  mb-3 foter-text">Follow Us</h3>
        <div class="d-flex align-items-center">
          <a href="" class="social-media-icons" target="blank">
             <img src="/assets/social/1.png"  alt="">
          </a>
          <a href="" class="social-media-icons" target="blank">
             <img src="/assets/social/2.png" alt="">
          </a>
          <a href="" class="social-media-icons" target="blank">
             <img src="/assets/social/3.png" alt="">
          </a>
        </div>
      </div>

    </div>

    <div class="mt-5 d-flex flex-column flex-md-row align-items-center justify-content-around">
      <p class=" foter-secondary-text">©2018 Mod Engineering</p>
    </div>
  </div>
</div>
<!-- end footer -->
