<!-- Startdbs nav -->
 <nav class="navbar navbar-expand-xl p-0 m-0 ">
   <a class="navbar-brand pl-2 pl-md-5 align-items-center pr-3 d-flex h-100 bg-light" href="/">
     <img src="/assets/logo.png" alt="" class="nav-logo">
   </a>
  <div class="mr-4 d-flex align-items-center">
    <button id='menu-icon' class="d-xl-none navbar-toggler rounded-1 mr-4 d-flex flex-row align-items-center" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <small class="text-light p-0 m-0 mr-2 d-none d-sm-block">MENU</small>
      <img id='menu-icon-img' src="/assets/menu.png" alt="">
    </button>
    {# MOBILE #}
    <div class="btn-group d-xl-none select-lang-container">
      <button type="button" class="select-lang-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{config.currentLocale | upper}} <img src="/assets/arrow_down.png" class="pl-1" alt="">
      </button>
      <div class="dropdown-menu dropdown-menu-nav dropdown-menu-center select-lang-item-container  ">
        {% for locale in config.allLocales %}
            <a href="/{{locale}}" class="a"><button class="dropdown-item select-lang-item pt-2 pb-2 text-center" type="button">{{locale | upper}}</button></a>
        {% endfor %}
      </div>
    </div>
  </div>

   <div class="collapse navbar-collapse" id="navbarText">
     <ul class="navbar-nav pt-4 pb-4 pl-5 p-xl-0 d-flex justify-content-center align-items-start align-items-xl-center">
       <li class="nav-item mr-lg-3">
         <a class="nav-link text-white bold-on-sm nav-link-font" href="/about.html">ABOUT US</a>
       </li>
       <li class="nav-item mr-lg-3">
           <a class="nav-link text-white bold-on-sm c-pointer nav-link-font">
             Services
           </a>
           <!-- //visible on sm hidden on xl -->
           <div class="d-none menu-toggle">
             <a class="nav-link text-white nav-link-font-secondary" href="/services.html">
               link 1
             </a>
             <a class="nav-link text-white nav-link-font-secondary" href="/services.html">
               link 2
             </a>
             <a class="nav-link text-white nav-link-font-secondary" href="/services.html">
               link 3
             </a>
           </div>
           <!-- //visible on sm hidden on xl -->
       </li>
       <li class="nav-item mr-lg-3">
           <a class="nav-link text-white bold-on-sm nav-link-font" href="/digitalization.html">
             Digitalization
           </a>
       </li>
       <li class="nav-item mr-lg-3">
         <a class="nav-link text-white bold-on-sm c-pointer nav-link-font">AREAS OF EXPERTISES</a>
         <!-- //visible on sm hidden on xl -->
         <div class="d-none menu-toggle">
           <a class="nav-link text-white nav-link-font-secondary" href="/areas-of-expertise.html">
             link 1
           </a>
           <a class="nav-link text-white nav-link-font-secondary" href="/areas-of-expertise.html">
             link 2
           </a>
           <a class="nav-link text-white nav-link-font-secondary" href="/areas-of-expertise.html">
             link 3
           </a>
         </div>
         <!-- //visible on sm hidden on xl -->
       </li>
       <li class="nav-item mr-lg-3">
         <a class="nav-link text-white bold-on-sm nav-link-font" href="/careers.html">CAREERS</a>
       </li>
       <li class="nav-item mr-lg-3">
         <a class="nav-link text-white bold-on-sm nav-link-font" href="/news.html">NEWS</a>
       </li>
       <li class="nav-item mr-lg-3">
         <a class="nav-link text-white bold-on-sm nav-link-font" href="/contacts.html">CONTACTS</a>
       </li>
     </ul>
     {# DESKTOP #}
     <div class="btn-group d-none d-xl-block select-lang-container select-lang-xl">
       <button type="button" class="select-lang-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{config.currentLocale | upper}} <img src="/assets/arrow_down.png" class="pl-1" alt="">
       </button>
       <div class="dropdown-menu dropdown-menu-nav dropdown-menu-center select-lang-item-container">
       {% for locale in config.allLocales %}
          <a href="/{{locale}}" class="a"><button class="dropdown-item select-lang-item pt-2 pb-2 text-center" type="button">{{locale | upper}}</button></a>
       {% endfor %}
       </div>
     </div>
   </div>

 </nav>
 <!-- Endbs nav -->
