<div id="tab4" class="d-none tab">
    <div class="row mt-5">
      <h2>Partners</h2>
    </div>
    {% set partners=[1,2] %}
    <div class="row mt-5">
      {% for partner in partners %}
      <!-- item -->
        <div class="col-12 col-md-6 pl-0">
          <img src="/assets/partners/1.png" class="mb-3" alt="">
          <h3>Technical University of Moldova</h3>
          <p>Chisinau, besides being an active location of business, has another advantage: the presence of Technical University of Moldova, which
              is a dynamically growing hub of new resources. From the experience
              of CPI-ENG, MOD Engineering has also acquired the preparedness
              of offering a job opportunity for the new generation of designers, with
              the aim of potentiating skills and acquiring innovative techniques that
              will enable the company to become one of the most trained and competitive companies in the field.
            </p>
        </div>
        <!-- enditem -->
    {% endfor %}
    </div>
</div>
