{% macro restModal(id) %}
<!-- Modal -->
<div class="modal p-0" id="exampleModalLong{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
   <div class="modal-dialog  p-0 m-0 d-flex justify-content-end" style="min-width:100vw;min-height:100%" role='document'>

      <div class="content-modal modal-content rounded-0 p-5 w-100 w-md-50 position-relative" style="min-height:100%">
        <img src="/assets/close.png" class="position-absolute close" style="right:20px;top:20px" alt="" data-dismiss="modal" aria-label="Close">

        <h2 class="mt-4">Junior Mechanical Engineer{{id}}</h2>
        <p>MOD  Engineering  expands  its  activity  and  invites  you  to  join  itsMechanical Design Engineersteam.</p>
        <h3>Activities Details:</h3>
        <p>•   Design of new products;</p>
        <p>•   Preparation of technical drawings (new products).</p>

        <h3>Requirements:</h3>
        <p>•   Design of new products;</p>
        <p>•   Preparation of technical drawings (new products).</p>

        <h3>The company guarantes:</h3>
        <p>•   Design of new products;</p>
        <p>•   Preparation of technical drawings (new products).</p>

        <form class="d-flex flex-column align-items-start form-cv" action="" method="POST" enctype="multipart/form-data">
           <h3>Attach your CV</h3>
            <div class="d-flex flex-row align-items-center c-pointer">
               <div class="btn rounded-0 btn-outline-danger position-relative c-pointer">
                 Browse fiele
                 <input type="file" name='file' class="input-file c-pointer" required/>
               </div>
               <p class="font-weight-bold m-0 ml-3 input-file-name"></p>
            </div>
          <h4 class="mt-2 font-weight-bold">Your e-mail</h4>
          <input name="email" style="min-width:310px">
          <span class="error-message">Данное поле заполнено неправильино.</span>
          <button class="mt-4 btn btn-danger p-2 pr-5 pl-5 rounded-0" type="submit">Send</button>
        </form>
      </div>

      <!--success modal  -->
      <div class="d-none content-modal-success modal-content rounded-0 p-5 w-100 w-md-50 position-relative" style="min-height:100%">
        <img src="/assets/close.png" class="position-absolute close" style="right:20px;top:20px" alt="" data-dismiss="modal" aria-label="Close">

        <h2 class="mt-4">Your CV was send</h2>
        <h3>We will contact you by e-mail or phone call.</h3>
      </div>
      <!-- err modal -->
      <div class="d-none content-modal-error modal-content rounded-0 p-5 w-100 w-md-50 position-relative" style="min-height:100%">
        <img src="/assets/close.png" class="position-absolute close" style="right:20px;top:20px" alt="" data-dismiss="modal" aria-label="Close">

        <h2 class="mt-4">Your CV is not send</h2>
        <h3>Something went wrong</h3>
      </div>

   </div>
</div>
{% endmacro %}
