<div class="slider-component slick-slider w-100 flex-wrap d-flex flex-row justify-content-start position-relative">
    <a data-fancybox="gallery" href="/assets/slider/1.png">
      <div class="pr-1" style="max-width:300px">
        <img src="/assets/slider/1.png" class="w-100" alt="">
      </div>
    </a>
    <a data-fancybox="gallery" href="/assets/slider/1.png">
      <div class="pr-1" style="max-width:300px">
        <img src="/assets/slider/1.png" class="w-100" alt="">
      </div>
    </a>
    <a data-fancybox="gallery" href="/assets/slider/1.png">
      <div class="pr-1" style="max-width:300px">
        <img src="/assets/slider/1.png" class="w-100" alt="">
      </div>
    </a>
    <a data-fancybox="gallery" href="/assets/slider/1.png">
      <div class="pr-1" style="max-width:300px">
        <img src="/assets/slider/1.png" class="w-100" alt="">
      </div>
    </a>
    <a data-fancybox="gallery" href="/assets/slider/1.png">
      <div class="pr-1" style="max-width:300px">
        <img src="/assets/slider/1.png" class="w-100" alt="">
      </div>
    </a>
    <a data-fancybox="gallery" href="/assets/slider/1.png">
      <div class="pr-1" style="max-width:300px">
        <img src="/assets/slider/1.png" class="w-100" alt="">
      </div>
    </a>
    <a data-fancybox="gallery" href="/assets/slider/1.png">
      <div class="pr-1" style="max-width:300px">
        <img src="/assets/slider/1.png" class="w-100" alt="">
      </div>
    </a>
    <a data-fancybox="gallery" href="/assets/slider/1.png">
      <div class="pr-1" style="max-width:300px">
        <img src="/assets/slider/1.png" class="w-100" alt="">
      </div>
    </a>
</div>
