body
  margin 0px
  padding 0px
  overflow-x hidden

*
  font-family Raleway !important
h1
  font-size 56px
  color dark
  line-height 70px
  font-family Raleway
  font-weight 700 !important
h2
  font-size 34px
  color light_red
  line-height 40px
  font-family Raleway
  font-weight 700
h3
  font-size 22px
  color dark
  line-height 34px
  font-family Raleway
  font-weight 600
h4
  font-size 16px
  color dark
  line-height 28px
  font-family Raleway
  font-weight 400

p,a,small,span,i
  font-family Raleway

select
  border 1px solid grey
  background none
  color #fff
  padding 5px 25px
  &:hover
    background white
    color black
    border 0px
  option
    color black
    border 0px
    &:checked,&:hover
      background-color light_red
      color #fff
#map
  min-height 420px
.btn-danger
  background #ee3648 !important
  padding 14px 23px !important
  &:hover
    background #c01223 !important
.a
  &:hover
    text-decoration none
.btn-outline-danger
  color #ee3648
  border 1px solid #ee3648
  &:hover
    background #ee3648 !important
    color #fff !important
.overflow-hidden
  overflow-x hidden !important
  overflow-y hidden !important
.red-on-hover
  color #fff
  &:hover
    color light_red !important
.text-dark
  color #000 !important
.foter-bg
  max-height 520px !important
  min-width 358px
.service-mask
  background #000
  opacity 0.5
  position absolute
  z-index 2
  top 0px
  left 0px
  width 100%
  height 100%
  transition opacity 0.5s linear
.service-mask-nr
  position absolute
  z-index 3
  top 0px
  left 0px
  width 100%
  height 100%
  opacity 0.25
  color #ffffff
  font-family Raleway
  font-size 150px
  font-weight 400
  padding-right 40px
.service-mask-nr-right
  position absolute
  z-index 3
  top 0px
  left 0px
  width 100%
  height 100%
  opacity 0.25
  color #ffffff
  font-family Raleway
  font-size 150px
  font-weight 400
  padding-right 40px


.service-img:hover .service-mask
  opacity 0
.service-img
  max-width 400px !important
.areas-mask
  position absolute
  background #000
  z-index 5
  top 0px
  left 0px
  width 100%
  height 100%
  opacity 0.5
  color #ffffff
  font-family Raleway
  font-size 150px
  font-weight 400
  padding-right 40px
  cursor pointer
  display flex
  flex-direction column
  align-items flex-end
  transition opacity 0.5s linear
  img
    height 140px !important
    width 140px !important

.areas-img
  z-index 4
.areas-text
  z-index 6
.areas-img-container:hover .areas-mask
  opacity 0
button
  &:focus
    outline 0
input
  height 50px
  border 1px solid #aeb5c1
  color #111518
  padding 10px
  &:hover,&:focus
    border 1px solid #111518 !important
    outline 0
.input-valid
  border 1px solid #111518
  background url('/assets/input/succes.png') no-repeat
  background-position 95% 18px
.error
  border 1px solid #f07810
  background url('/assets/input/danger.png') no-repeat
  background-position 95% 18px
  background-color #fff8f1
.error-message
  color #f07810
  font-size 12px
  font-weight 600
  line-height 15px
  letter-spacing 0.5px
  margin-top 13px
.input-file
  position absolute
  width 100%
  height 100%
  top 0px
  left 0px
  opacity 0
.close
  cursor pointer
.nav-link
  text-transform uppercase
.c-pointer
  cursor pointer
.word-break
  word-break break-word
.c-grab
  cursor grab
.contacts-spaces
  padding 1px
  height 338px

.item-text
  font-weight 400
  font-size 16px
  line-height 40px
  padding 0px
  margin 0px
.layout-initial
  margin-top 150px
textarea
    min-height 95px
    border 1px solid #aeb5c1
    color #111518
    background none
    padding 10px
    &:hover,&:focus
      border 1px solid #111518
.dropdown-menu
  padding 0px
  border-top-left-radius 0px
  border-top-right-radius 0px
  border-bottom-left-radius 2px
  border-bottom-right-radius 2px
.news-link
  color #143045
  font-size 22px
  font-weight 600
  line-height 36px
  text-decoration underline
.load-btn
  min-width 160px
  height 50px
.items-text. .item-text
  color #111518
  font-family Raleway
  font-size 16px
  font-weight 400
  line-height 40px
.learn-btn
  min-width 200px
  height 50px
  border-radius 2px
  background-color #ee3648
.get-in-btn
  margin-top 61px
  min-width 160px
  height 50px
  border-radius 2px
  background-color #ee3648
.foter-text
  color #aeb5c1
  font-size 22px
  font-weight 600
  line-height 30px
.foter-secondary-text
  color #aeb5c1
  font-size 16px
  font-weight 500
  &:hover
    color #aeb5c1

.nav-link
  min-width: 90px !important
.navbar-collapse
  display flex
  align-items center
  flex-direction row
  justify-content center
@media (max-width:1200px)
  .navbar-collapse
    width 100vw
    justify-content flex-start
    ul
      width 100vw
.numbers-bg
  position relative
  z-index 1
.numbers-container
  &:nth-child(1)
    &:before
      content ""
      position absolute
      top 0
      left 0
      width 99%
      height 99%
      opacity 0.4
      background url('/assets/numbers-bg1.png') no-repeat
      background-size cover
  &:nth-child(2)
    &:before
      content ""
      position absolute
      top 0
      left 0
      width 99%
      height 99%
      opacity 0.4
      background url('/assets/numbers-bg2.png') no-repeat
      background-size cover
  &:nth-child(3)
    &:before
      content ""
      position absolute
      top 0
      left 0
      width 99%
      height 99%
      opacity 0.4
      background url('/assets/numbers-bg3.png') no-repeat
      background-size cover
@media (max-width:600px)
  .block-title
    font-size 36px !important
