// sm
@media screen and (max-width: 576px) {
  .navbar{
    height:75px;
  }
  .nav-logo{
    max-width:100px
  }
  h1{
    font-size: 40px;
  }
  .select-lang-btn{
    // max-width:50px ;
    padding: 1px
  }
  .bold-on-sm{
    font-weight: bold !important
  }

}
@media (max-width: 555px){

  #map{
    min-height: 171px !important;
  }
  .contacts-map, .gm-style-pbc{
    height:171px !important;
  }
  .news-category-selector{
      width: 100% !important;
      max-width: 230px !important;
      min-width: 210px !important;
  }
}
// md
@media screen and (max-width: 768px) {
   .slider-component-controls{
     display:none !important;

   }
   .contacts-sm{
     font-size: 22px !important;
   }
  .contacts-spaces{
       padding: 1px;
       max-height: 247px !important;
       // height: 100%;
    }
    .ct1{
      max-height: 180px !important;
    }
    .ct2{
      max-height: 180px !important;
    }
    .contacts-spaces .btn-danger{
      display:none;
    }

}
// min=md
@media screen and (max-width: 575px) {
  .select-lang-btn{
     height:40px !important;
     font-size: 13px;
  }
  .navbar-toggler{
    height:40px;
    width:40px;
  }
  .numbers-container{
    margin: 0px !important;
    padding: 0px !important;
  }
  .navbar-toggler img{
      height:14px;
      width:14px;
    }
  .select-lang-item-container {
    top:36px;
  }
}
@media screen and (min-width: 576px) {
  .select-lang-btn{
     height:50px !important;
  }
    .navbar-toggler{
      height:50px;
      width:113px;
    }
  .navbar-toggler img{
      height:14px;
      width:18px;
    }
}
// lg
@media screen and (max-width: 992px) {
    .real-content-in-wrapper{
      max-width:100% !important;
    }
}
// xl
@media screen and (max-width: 1200px) {

}

// custom md
@media screen and (min-width: 768px) {
    .w-md-50{
      width:50% !important;
    }
}


// xl
@media screen and (min-width: 1201px) {
  .container{
    max-width: 1200px !important;
  }
}
