@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800')
@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/bootstrap/dist/css/bootstrap.css"
@import "../../node_modules/animate.css/animate.css"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css"

@import "_variables"
@import "_gui"

// start main header

.header
  height 100vh
  width 100%
  background-size cover
  position relative

.header-video
  z-index 1
.absolute-header
  position absolute
  width 100%
  height 100%
  z-index 2
  top 0px
.relative-header
  position relative
  width 100%
  height 100%
  z-index 3
.header-gradient
  position absolute
  width 100%
  height 100%
  z-index 4
  background-image linear-gradient(to right bottom, #040404, #1f1f1f, #353536, #4e4e4f, #676769)
  top 0px
  opacity 0.6
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-start
  .bg-pattern-right
    align-self flex-end
.header-citat
  z-index 5
  position relative
  height 75%
  h1
    color #fff !important
.navbar
  z-index 999
  height 120px
.navbar-toggler
  padding 0px
  display flex
  flex-direction row
  align-items center
  justify-content center
  border 1px solid rgba(255, 255, 255, 0.25)
.nav-item
  position relative
// xl
@media screen and (min-width: 1200px) {
  .nav-link:hover{
    background: #fff;
    color: #000 !important;
  }
  .nav-item:hover .menu-toggle{
    display:block !important;
    position:absolute;
    top:35px;
    left:0px;
    background: #fff;
    min-width: 250px;
  }

  .menu-toggle a{
    color: #000 !important;
  }
  .menu-toggle .nav-link{
    padding: 15px 20px;
  }
  .menu-toggle .nav-link:hover{
    background: #ee3648;
    color: #fff !important;
  }
}
@media screen and (max-width: 1200px) {
  .navbar-nav {
    background #111
  }
}
.items-footer-toggle
  display block
  animation-name footer-toggle
  animation-duration 3s
@keyframes footer-toggle {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navbar {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.navbar-in-scroll
  position fixed
  top 0px
  width 100vw
  background #111
  z-index 999
  height 100px
  animation-name navbar
  animation-duration 1s
  &:hover
   opacity 1


.navbar-in-click
  background #111
.select-lang-btn
  border 1px solid rgba(255, 255, 255, 0.25)
  border-radius 2px
  background none
  color #fff
  width 80px
  padding 8px 0px
  cursor pointer
  height 45px
  outline 0 !important
  margin 0px !important
  &:focus
    outline 0 !important
.select-lang-item-container, .dropdown-menu
  position absolute
  top 40px
  left 0px
  border none !important
  width 80px !important
  min-width 80px !important
.select-lang-item
  outline 0
  cursor pointer
  color #111518
  font-size 13px
  font-weight 600
  line-height 50px
  text-transform uppercase
  letter-spacing 0.93px
  letter-spacing 0.93px
  width 80px
  &:hover
    color #fff
    background light_red

// end header
// start abount us container
.numbers-bg
  min-height 210px
  padding 0px 40px
  margin 0px !important
.numbers-container
  padding 1px !important
// .numbers-bg
//   padding 28px 45px
.nr-text
  color #143045 !important
  font-size 80px !important
  font-weight 400 !important
.nr-mini-text
  color #143045 !important
  font-size 22px !important
// end abount us container
// start abount us container
.services-container
  position relative
  background #f1f5fb
  overflow-y hidden
  overflow-x hidden
  .services-content
    position relative
    z-index 1
  .services-gradient
    position absolute
    width 100%
    height 100%
    z-index 0
    top 0px
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start
    .bg-pattern-right
      align-self flex-end

// carousele
#carouselExampleIndicators
  position relative
.carousel-indicators
  bottom -50px
  position absolute
  li
    border-radius 50%
    width 10px
    height 10px
    background light_grey
    border 1px solid grey
  .active
    background grey
// expertises section
.expertises-container
  background #f1f5fb
  .expertise-text
    position absolute
    bottom 30px
    left 20px
    color #fff
    font-weight bold
  .expertise-btn
    display flex !important
    width 130px
    &:hover
      background light_red !important
      opacity 0.9
    .bg-white
      opacity 0.25
.block-title
  color #111518
  font-size 56px
  font-weight 700
  margin-top 60px
  margin-bottom 10px
// end section expertises
// news section
.main-news-text
  position absolute
  bottom 30px
  left 25px
  *
    color #fff
.secondary-news-text
  p
    color grey
    font-weight bold
  a
   color #143045
   font-size 22px
   font-weight 600
   line-height 36px
   text-decoration underline
.mini-news-img
  height 247px
  min-width: 313px
.big-news-img
  height 498px
// end news section
// contacts section
.contacts-bg
  background url('/assets/contacts/1.png') no-repeat
  background-size cover
// end contacts
 // start footer section
.footer-section
  background  #111518
  padding-bottom 11px
.social-media-icons
  padding 10px
.contact-icon
  opacity 0.1
 // end footer section


 //static layers allowed.absolute-static-header
.absolute-static-header
  position absolute
  height 75vh
  width 100%
  top 0px
  left 0px
.absolute-static-header2
  width 100%
  top 0px
  left 0px

.wrapper
  position relative
  background #e4eaf3
.content-in-wrapper
  position relative
  padding-top 200px
  padding-bottom 60px
@media (max-height:662px)
  .content-in-wrapper
    padding-top 50px
.content-in-wrapper2
  position relative
  padding-bottom 60px

.my-secondary-menu-slider .slick-track
  display flex
  .slick-slide
    display flex
    align-items center
    align-content center
    max-width 176px
    border-right 2px solid light_dark
    height auto


.content-links
  display block
  text-decoration none
  color #143045
  font-size 13px
  font-weight 600
  text-transform uppercase
  letter-spacing 0.93px
  padding 0px 20px 0px 20px
  height 100%
  max-width 176px
  &:hover
    font-weight bold
    color dark
    text-decoration none

.slick-track .slick-slide:last-of-type
  border-right none
// PAGES STYLES
//news
.news-category-selector
  padding 10px 20px
  height 50px
  border none
  border-radius 5px
  display flex
  align-items center
  justify-content space-around
  background #fff
  font-weight bold
  cursor pointer
  width 100% !important
  max-width 260px !important
  min-width 230px !important
.news-category-item
  border none !important
  width 100%
  background #fff
  cursor pointer
  &:hover
    background light_red
    color #fff
//news Detailed
.carousel-control-item
  width 50px
  height 50px
  background light_red
  border-radius 50%

//services Detailed
.study-case-text
  position absolute
  bottom 30px
  left 20px
//contacts
.contact-input
  margin-top 45px
// End

@import "_media"

.dropdown-menu-news
  width 100% !important
  max-width 100% !important

.contacts-map
  box-shadow 0 25px 50px rgba(0, 0, 0, 0.2)
.real-content-in-wrapper
  box-shadow 0 25px 50px rgba(0, 0, 0, 0.1)
.other-news
  border 1px solid #aeb5c1
  border-radius 2px
.nav-link-font
  padding-left 14px !important
  padding-right 14px !important
  text-shadow 1px 1px 2px rgba(0, 0, 0, 0.5)
  font-size 13px
  &:hover
    text-shadow none
.nav-link-font-secondary
  font-size 13px
  padding-left 14px !important
  padding-right 14px !important
.carers-item
  border-top 1px solid #aeb5c1
  padding 19px 0px 5px 0px !important
  h3
    color #143045 !important
.text-input
  color #111518
  font-size 16px
  font-weight 600
.scroll-text
  font-size 12px
  font-weight 700
  text-transform uppercase
  letter-spacing 2px
.btn
  border-radius 2px !important
